:root {
    --priBgColor: #00204a;
    --secBgColor: #962d0f;
    --priTextColor: #fffffc;
    --secTextColor: black;
    --tettextColor: #962d0f;
}

/* styles for the website body*/
body{
    width: 98%;
    padding: 0%;
    background-color: #ffffff;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 25px;
    font-size: 17px;
}

#malinenergy-main {
    width: 100%;
}
a {
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: fit-content;
    padding-bottom: 0%;
    z-index: 99;
}

/*navigation menu*/
#fixedLogoNavMenu {
    width: 100%;
    background-color: #f4f4ef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 1% 0% 1%;
    border-radius: 5px;
}

/*site logo*/
.logo-container {
    width: 20%;
    height: 50px;
}
.logo {
    width: 100%;
    height: 100%;
    mix-blend-mode:darken;
}

/* navigation list container */
#nav-container {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -41%;
    top: -8px;
    list-style-type: none;
    border-radius: 5px;
    height: 100%;
}
.nav-list-item {
    margin: 0% 11% 0% 0%;
    height: 50%;
}
.nav-list-item a {
    color: #2a5c82;
}
.nav-list-item a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.nav-list-item:hover {
    background-color: #e9d25a;
    border-radius: 5px;
    color: #000000;
}

/* home nav drop-down list */
#home-nav-dropdown-list {
    display: none;
}

/* menu open and close button container */
#menuBtnOpenClose-Container {
    display: none;
}

/* search box container */
#search-box-container {
    position: absolute;
    top: 17px;
    right: 6.5%;
    width: auto;
}
#search-box {
    width: 130px;
    text-align: center;
    border: solid black 0.5px;
    border-radius: 5px;
}

/* home nav dropdown list */
.dropdown-icon {
    height: 20px;
    width: 15px;
}
#homeNlist-icon-container {
    display: flex;
    flex-direction: row;
}

/* styles for websites main section */
#main-section {
    width: 100%;
    background-color: #ffffff;
}
/* welcome message section */
#welcomeMsg-top-container {
    width: 92%;
    margin: auto;
    position: relative;
    margin-top: 2.5%;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
#welcome-img {
    width: 100%;
    mix-blend-mode: hard-light;
}
#short-welcome-note {
    width: 100%;
    margin: auto;
    text-align: left;
    height: auto;
    margin-top: 3%;
    text-align: center;
    border-radius: 5px;
    position: relative;
    animation: shortWelcomeNote 2s linear;
}
@keyframes shortWelcomeNote{
    0%{
        top: -20px;
    }
    35%{
        top: 10px;
    }
    50%{
        top: 20px;
    }
    70%{
        top: 30px;
    }
    100%{
        top: 0px;
    }
}
#welcomeMsg-container {
    width: 94%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    display: none;
    position: fixed;
    z-index: 101;
    top: 5%;
    left: 3%;
}
#msg-close-menu {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 50%;
    top: -2.5%;
    border: solid #ffffff 0.5px;
    scale: 1.2;
    mix-blend-mode: darken;
    background-color: #ffffff;
}

#close-menu,#msg-close-menu:hover {
    scale: 1.5;
}
#view-welcome-msg {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1.5px #00204a;
    background-color: #2a5c82;
    height: 25px;
    color: #ffffff;
    position: relative;
    top: -55px;
}
#view-welcome-msg:hover {
    scale: 1.1;
}
#welcomeMsg {
    padding: 2%;
    color: #6cd4e4;
    background-image: url('../dependancies/telecom-city.jpg');
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-blend-mode: color-burn;
    margin-top: 0px;
}

.primary-header{
    text-align: center;
    padding: 2% 0% 2% 0%;
    color: #2a5c82;
}

/* about, vision and mission section */
.top-level-container {
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}
#aboutVisionMission-top-container {
    padding-bottom: 6px;
    margin-top: -25px;
}
#about-container {
    width: 97%;
    margin: auto;
    border-radius: 5px;
    background-color: #f4f4ef;
    padding-top: 1%;
}
#about-note {
    padding: 0% 2% 2% 2%;
    margin-top: 0%;
}
#about-title {
    margin-top: 0%;
    padding-bottom: 2%;
    border-radius: 5px;
}
#visionMission-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
#vision-note, #mission-note {
    padding: 0% 5% 0% 4%;
}

/* services section */
#service-container {
    background-color: #f4f4ef;
    width: 97%;
    margin: auto;
    border-radius: 5px;
}
#services {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 1%;
}
.service-item, #experience-note {
    padding: 2%;
}
#experience-note, #team-note, #team-note, .team-item, #contact-note {
    text-align: center;
}

#service-title, #experience-title {
    margin: 0px;
}

/* experience and team section */
#top-experience-container, #top-team-container, #top-contact-container, #top-service-container {
    padding: 6px 0px 6px 0px;
    margin-top: 16px;
}
#experience-container {
    display: grid;
    grid-template-columns: auto auto;
}
.top-experience-and-team-container {
    background-color: #f4f4ef;
    width: 97%;
    margin: auto;
    border-radius: 5px;
}
.team-item {
    padding: 0px 10px 0px 10px;
}

.experience-and-team-container {
    display: grid;
    grid-template-columns: auto auto;
}

/* team section */
.image-and-bio {
    display: flex;
    flex-direction: column;
}
.team-member-img {
    width: 198px;
    height: 248px;
    align-self: center;
    border-radius: 5px;
    mix-blend-mode: darken;
}

/* contact section */
address {
    width: 60%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
#location-icon-note {
    text-align: center;
    margin-top: -15px;
}
#contact-title, #team-title {
    padding-bottom: 2%;
    margin-bottom: 1%;
}
#contact-form {
    margin: auto;
    border-radius: 5px;
    color: #191818;
    padding-bottom: 10px;
    width: 80%;
}
.contact-icon:hover {
    scale: 1.2;
}
.contact-icon {
    mix-blend-mode: darken;
}
.form-input-label {
    padding-left: 10px;
}
.input-field {
    width: 95%;
    height: 25px;
    margin: 0px;
    padding-left: 20px;
    border: solid #f4f4ef 0.5px;
    border-radius: 35px;
}
#top-contact-container {
    padding-bottom: 5px;
}
#send-us-email {
    background-color: #00204a;
    cursor: pointer;
    color: #e9ecf1;
    width: 24%;
    margin: auto 38% auto 38%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#send-us-email:hover {
    scale: 1.2;
}

/* footer section begings here */
#footer-section {
    width: 100%;
    background-color: #f4f4ef;
    border-radius: 5px;
    text-align: left;
}
#foot-nav-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: #2a5c82;
}
#foot-nav-container a:visited {
    color: #2a5c82;
}
#foot-nav-container a:hover {
    color: black;
    text-decoration: underline;
}

#logo-nav-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#foot-logo {
    margin-top: 15px;
}

/* copyright section */
#copyright-terms {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    font-size: small;
}
#company-terms {
    position: relative;
    top: 15px;
    cursor: pointer;
}
#terms-title {
    color: #2a5c82;
}
#terms-condition-cookie-policy-note {
    padding-bottom: 2%;
}

/* responsiveness mobile clients */
@media screen and (max-width: 615px) {
    /* website body*/
    body{
        width: 97%;
        margin: auto;
        max-width: none;
        font-size: 15px;
        line-height: 22px;
    }

    /* main sites body */
    #malinenergy-main {
        width: 100%;
    }

    /*website's header */
    #header {
        width: 100%;
    }
    .logo-container {
        width: 35%;
        height: 45px;
    }

    /*navigation menu*/
    #fixedLogoNavMenu {
        flex-direction: column;
        height: 60px;
    }

    /* navigation list container */
    #nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 46.3%;
        height: 285px;
        width: 45%;
        padding-left: 5px;
        z-index: 100;
        border-radius: 5px;
    }

    .nav-list-item {
        margin-left: -21.5%;
        padding-left: 10px;
        background-color: #f4f4ef;
        margin-right: 0px;
    }

    /* search box container */
    #search-box-container {
        top: 25%;
        left: 43%;
    }
    #search-box {
        width: 140px;
    }

    /* menu open and close button container */
    #menuBtnOpenClose-Container {
        display: inline;
        position: absolute;
        top: 20px;
        left: 91%;
        cursor: pointer;
    }
    #close-menu:hover {
        scale: -1.3;
    }
    #open-menu:hover {
        scale: -1.3;
    }


    /* site menu open and close buttons */
    #close-menu {
        display: none;
        cursor: pointer;
    }

    /* websites main section */
    #main-section {
        width: 100%;
    }

    /* welcome message section */
    #short-welcome-note {
        padding-top: 33px;
        height: fit-content;
        border-radius: 5px;
    }
    #view-welcome-msg {
        top: -43px;
    }
    
    /* about section */
    #visionMission-container {
        display: flex;
        flex-direction: column;
    }
    #aboutVisionMission-top-container {
        margin-top: -14px;
    }

    /* services sections */
    #services {
        display: flex;
        flex-direction: column;
    }

    /* experience section */
    #experience-container {
        display: flex;
        flex-direction: column;
    }

    /* team section */
    .experience-and-team-container {
        display: flex;
        flex-direction: column;
    }

    /* footer section begings here */
    #footer-section {
        top: -16px;
        width: 100%;
    }
    
}